# You probably want to change the [user] section here since you are not me.

[user]
	name = Matt Hodges
	email = hodgesmr1@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[alias]

  # shows all of the git aliases
  alias = config --get-regexp 'alias.*'
  
  # a prettier log
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %n' --abbrev-commit

  # shows the new commits after last action
  new = !git lg $1@{1}..$1@{0} "$@"

  # shows the git commits from today
  today = !git lg --since="8am" 

  # shows the git commits from this week
  thisweek = !git lg --since='last monday'

  # shows git branch relationship information
  wtf = !ruby  ~/bin/git-wtf -r

  # shows the most common words from commit log
  words = !ruby ~/bin/git-words

  # makes local tags match remote
  updatetags = !git tag -l | xargs git tag -d && git fetch

  # Shows branches that don't have current branch merged in to
  doesnthave = !sh -c \"git branch -a | grep -vF \\\"$(git branch -a --contains HEAD)\\\"\" 

  # pull-rebase all remote branches, even if not previously tracked
  pullall = !git pull --rebase && B=$(git rev-parse --abbrev-ref HEAD) && git branch -r | sed -e 's/origin\\///g' | grep -v $B | grep -v HEAD | xargs -L 1 -I %  sh -c "'{ git checkout %; git pull --rebase; }'" && git checkout $B
[color]
    ui = true
