# You probably want to change the [user] section here since you are not me.

[user]
	name = Matt Hodges
	email = hodgesmr1@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	alias = config --get-regexp 'alias.*'
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %n' --abbrev-commit
	wtf = !ruby  ~/bin/git-wtf -r
	updatetags = !git tag -l | xargs git tag -d && git fetch
	nmit = !sh -c \"git branch -a | grep -vF \\\"$(git branch -a --contains HEAD)\\\"\" #shows branches that don't have current branch merged in to 
[color]
	ui = true
